domain-needed
bogus-priv

domain={{domain}}
expand-hosts
local=/{{domain}}/

listen-address={{gateway}}
listen-address=127.0.0.1
bind-interfaces

dhcp-range={{dhcp_start}},{{dhcp_end}}
dhcp-option=3,{{gateway}}
dhcp-option=6,{{gateway}}

server={{primary_dns}}
server={{secondary_dns}}
